# Environnement local
.venv/

# Données brutes et nettoyées
data/raw/
data/cleaned/

# Base de données SQLite
data/database/
*.db
*.sqlite
*.sqlite3

# Fichiers temporaires
__pycache__/
*.pyc
*.csv
*.bdd
